<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th>Counter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.long_url %></td>
        <td><%= link_to link_url(link.short_url), link_path(link) %></td>

        redirect_to "http://#{@link.long_url}"
        <td><%= link.counter %></td>
        <td><%= link_to 'Show', link_path(link) %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
